.wrapper {
	position: relative;	
}

.box {
	position: absolute;
	z-index: 1;
	top: 215px;
	left: 85px;
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
}

.box:hover {
	border: 2px solid #fff;
}
